<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta charset="utf-8"/>
<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
<meta content="Emulating real sheets of paper in web documents (using HTML and CSS)" name="description"/>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<title>Naamloos document</title>
<link href="stylesheet.css" rel="stylesheet"/>
</head>
<body class="document">
<!--------------------------------------- 1 INTRODUCTION -------------------------- --->
<p>
</p><div id="main-A4">
<div id="text-page1-2">
<h1 style="border-bottom:1px dotted #4d4d4d"> Cluster Headache report </h1>
</div>
<div id="text-page1-1">
<p>This is our first monthly report about our Cluster Headache research. This report will for now, mainly contain information based on your data.</p>
<p>Every month we will create an updated version of the report with new visualizations</p>
<p>This is the start of our patient driven research for Cluster headaches.<br/>
        We don't know if we will solve our puzzle on our own. But at least we do something together. Let's see how far we can go.</p>
<p>I would like to thank Ubiqum Code Academy: Sara, Valerian and Daniel, for the support to get this report build for us.</p>
<p>I would like to thank you all for joinging Nobism.</p>
<br/>
<p><strong>Rogier Koning</strong><br/>
        info@nobism.com<br/>
        https://nobism.com</p>
</div>
<div class="marginRight" id="info-ubiqum-nobism">
<h1> About this report</h1>
<div style="margin: 30px 0 0 0;"><p style="font-weight:800; border-bottom: 1px dotted white;">Ubiqum Code Academy</p>
<img alt="Ubicum Code Academy" longdesc="Ubiqum-logo.png" src="../iteration/Logos/Ubiqum-logo.png" style="float:left; margin: 0 30px 20px 0;" width="80"/>
        This report is made by students of the Ubiqum Code Academy to support the Cluster headache community. </div>
<div style="margin: 40px 0 0 0;"><p style="font-weight:800; border-bottom: 1px dotted white;">nobis<i>m</i></p>
<img alt="nobism-logo" src="../iteration/Logos/nobism-logo.png" style="float:left; margin: 0 30px 20px 0;" width="80"/>
<p>nobism is setup to get 100% patient driven research up and going. The goal is to collect as much data as we can, and use that to get our questions answered.</p>
<p><i><b>Cluster headaches</b> take over your life.<br/>
        I hope together, we can take some of that back.</i></p>
</div>
<div style="margin: 40px 0 0 0;"><p style="font-weight:800; border-bottom: 1px dotted white;">OpenHumans</p>
<img alt="OpenHumans" longdesc="Ubiqum-logo.png" src="../iteration/Logos/OpenHumans-logo.png" style="float:left; margin: 0 30px 20px 0;" width="80"/>
        The nobism app is connected to OpenHumans.org to give you the option to store your data in your own account. Data you shared with Ubiqum is used to generate this report and uploaded back into your OpenHumans account.</div>
</div>
<div id="report-version-info">
<strong>Cluster Headache Report</strong> | Report version: 1.1  |  Date: Juli 2019  |  
    </div>
</div>
<!------------------------------------------2 TIMELINE-------------------------------->
<p class="new-page">
</p><div id="main-A4">
<div id="logo-block">
<img alt="Ubicum Code Academy" longdesc="Ubiqum-logo.png" src="../iteration/Logos/Ubiqum-logo.png" style="float:left; margin: 0 30px 20px 0;" width="50"/>
<img alt="nobism-logo" src="../iteration/Logos/nobism-logo.png" style="float:left; margin: 0 65px 20px 0;" width="50"/> page 2/5
        
    </div>
<div id="text-page2-1">
<h1>TIMELINE</h1>
</div>
<div id="hr-4-1">
<hr/>
</div>
<div id="text-page2-2">
<p>This timeline is an important feature inside the report looking at visualizing all the attacks you had through time. We think with this timeline you can get a first insight in your change in attacks through time and I hope it can help you show your specialist on how you are doing.</p>
<p>The timeline is built with days of your registered time and on the side all the hours of the day. Every attacks is placed on the right day and hours to create this timeline.</p>
</div>
<div id="text-page2-3">
<p>Average <strong>Duration</strong><br/>of attacks per day</p>
</div>
<div id="text-page2-4">
<p>Average <strong>Intensity</strong><br/>of attacks per day</p>
</div>
<div id="text-page2-5">
<p>Average <strong>frequency</strong><br/>of attacks per day</p>
</div>
<div id="timeline-ch">
<img src="../iteration/TL_1.jpeg"/>
</div>
<div id="avarage_duration-day">
<img height="100" src="../iteration/TL_2.jpeg"/>
</div>
<div id="average_intensity-day">
<img height="100" src="../iteration/TL_3.jpeg"/>
</div>
<div id="number_attacks-day">
<img height="100" src="../iteration/TL_4.jpeg"/>
</div>
<div id="report-version-info">
<strong>Cluster Headache Report</strong> | Report version: 1.1  |  Date: Juli 2019  |  
    </div>
</div>
<!------------------------------------------3 Resume -------------------------------->
<p class="new-page">
</p><div id="main-A4">
<div id="logo-block">
<img alt="Ubicum Code Academy" longdesc="Ubiqum-logo.png" src="../iteration/Logos/Ubiqum-logo.png" style="float:left; margin: 0 30px 20px 0;" width="50"/>
<img alt="nobism-logo" src="../iteration/Logos/nobism-logo.png" style="float:left; margin: 0 65px 20px 0;" width="50"/> page 3/5        
    </div>
<div id="text-page3-1">
<h1>Resume of Attacks</h1>
</div>
<div id="text-page3-2">
<p>Aside from the timeline, we would like to give some insight in other things related to your Cluster headache attacks. An interesting thing to know is if you have more attacks during the night or during the day.</p>
</div>
<div id="text-page3-3">
<p style="display: inline"> <br/> This month, the average duration of your cluster headache was </p><div font="red" id="mean_duration_month" style="display: inline">0</div> minutes, with a mean intensity of <div id="mean_intensity_month" style="display: inline">0</div>. <div id="DURATION" style="display: inline"></div><div id="INTENSITY" style="display: inline"></div>
<p></p></div>
<div id="text-page3-4">
<h2>Last month</h2>
</div>
<div id="text-page3-5">
<h2>All Time</h2>
</div>
<div id="amount_CH-intensity_CH-month">
<img height="90" src="../iteration/Graph_1.jpeg" width="200"/>
</div>
<div id="amount_CH-intensity_CH-alltime">
<img height="90" src="../iteration/Graph_ALL_1.jpeg" width="300"/>
</div>
<div id="amount_CH-Duration_month">
<img height="90" src="../iteration/Graph_2.jpeg" width="400"/>
</div>
<div id="amount_CH-Duration_alltime">
<img height="90" src="../iteration/Graph_ALL_2.jpeg" width="100"/>
</div>
<div id="amountAttacks-hoursDay_month">
<img height="90" src="../iteration/Graph_3.jpeg" width="50"/>
</div>
<div id="amountAttacks-hoursDay_alltime">
<img height="90" src="../iteration/Graph_ALL_3.jpeg" width="250"/>
</div>
<div id="text-page3-6">
<img height="50" src="../iteration/Logos/arrow-left.png" style="float:left" width="50"/><img height="50" src="../iteration/Logos/arrow-right.png" style="float:right" width="50"/><br/><br/>
    	These 2 graphs show your <strong>average duration of attacks</strong>. The left one is from last month and the right one contains all your attacks together.
    </div>
<div id="text-page3-7">
<img height="50" src="../iteration/Logos/arrow-left.png" style="float:left" width="50"/><img height="50" src="../iteration/Logos/arrow-right.png" style="float:right" width="50"/><br/><br/>
    	These 2 graphs give insights into how many attacks you had with what intensity. Your average intensity is <b><font color="red"><div id="mean_intensity_month_2" style="display: inline">0</div></font></b> for this month and <b><font color="red"><div id="mean_intensity_ever" style="display: inline">6.0</div></font></b> All Time
    </div>
<div id="text-page3-8">
<img height="50" src="../iteration/Logos/arrow-left.png" style="float:left" width="50"/><img height="50" src="../iteration/Logos/arrow-right.png" style="float:right" width="50"/><br/><br/>
    	These 2 graphs show when you had your attacks during a day. 
    </div>
<div id="hr-3-1">
<hr/>
</div>
<div id="hr-3-2">
<hr/>
</div>
<div id="hr-3-3">
<hr/>
</div>
<div id="report-version-info">
<strong>Cluster Headache Report</strong> | Report version: 1.1  |  Date: Juli 2019  |  
    </div>
</div>
<!------------------------------------------4 medicine -------------------------------->
<p class="new-page">
</p><div id="main-A4">
<div id="logo-block">
<img alt="Ubicum Code Academy" longdesc="Ubiqum-logo.png" src="../iteration/Logos/Ubiqum-logo.png" style="float:left; margin: 0 30px 20px 0;" width="50"/>
<img alt="nobism-logo" src="../iteration/Logos/nobism-logo.png" style="float:left; margin: 0 65px 20px 0;" width="50"/> page 4/5        
    </div>
<div id="text-page4-1">
<h1>Resume of Treatments</h1>
</div>
<div id="text-page4-2">
<p>It's interesting to know what treatments you took, its also good to see when you took these treatments and how your attacks responded to it. So we display here a timeline of attacks together with a timeline of your treatment intake.</p>
</div>
<div id="text-page4-3">
<p style="display: inline"><br/>You used </p><div class="text_red" id="diff_medecines" style="display: inline">0</div> different treatments.<p></p>
</div>
<div id="hr-4-1">
<hr/>
</div>
<div id="timeline-ch-4">
<p><img src="../iteration/TL_1.jpeg"/></p>
</div>
<div id="medicine_intake">
<p><img src="../iteration/Medicine.jpeg"/></p>
</div>
<!--div id="treatments_month">
    	<img src="treatments-this-month.png" width="200" />
    </div>
	
    <div id="treatments_alltime">
    	<img src="treatments-alltime.png" width="200" />
    </div-->
<div id="report-version-info">
<strong>Cluster Headache Report</strong> | Report version: 1.1  |  Date: Juli 2019  |  
    </div>
</div>
<!------------------------------------------5 EXTRA INFORMATION -------------------------------->
<p class="new-page"></p>

<div id="main-A4">
	<div id="logo-block-close">
		<img alt="Ubicum Code Academy" longdesc="Ubiqum-logo.png" src="../iteration/Logos/Ubiqum-logo.png" style="float:left; margin: 0 30px 20px 0;" width="50"/> <img alt="nobism-logo" src="../iteration/Logos/nobism-logo.png" style="float:left; margin: 0 65px 20px 0;" width="50"/> page 5/5        
    </div>

	<div id="text-page5-1"><h1>Extra information</h1></div>

	<div id="text-page5-2">
		<p>We haven't yet been able to display all of the collected data. This is something we will work on in the comming month. Some of us collect temperatures, blood pressures or even when they go to bed and wake up. Information about these data will be added later. We will also start soon with Machine Learning. Machine learning is used to help us find trends and patterns in our data.</p>
	</div>

	<div id="text-page5-3">
		<p><i>This report can contain mistakes. Please let us know if you see something that is not correct, so we can see what the problem is and improve it for a next update of this report</i></p>
		<p>This page containts a resume of your data. It shows what buttons you used, if you have missing or incomplete data or other information. </p>
	</div>

	<div id="text-page5-6">

	<h2>Your general statistics</h2>
		<ul>
			<li>Complete amount of data points (<b><font color="red"><div id="data_size" style="display: inline">3</div></font></b>)</li>
			<li>Period (<b><font color="red"><div id="Period" style="display: inline">94</div></font></b> days)</li>
		</ul>
	</div>


	<div id="text-page5-7">
		
		<!--<h2>General statistics of all users</h2>
			<ul>
				<li>Complete amount of data points (<strong id="dont_know"></strong>)</li>
				<li>Complete amount of CH attacks(<strong id="dont_know"></strong>)<br/><br/></li>
			</ul>-->

		<h3>Amount of buttons used : <!--(<b><font color="red"><div id="all" style="display: inline">3</div></font></b>) --></h3>
			<ul>
				<li>Symptoms (<b><font color="red"><div id="sy" style="display: inline">2</div></font></b>)</li>
				<li>Medicines (<b><font color="red"><div id="me" style="display: inline">0</div></font></b>)</li>
				<li>Alternative medicine (<b><font color="red"><div id="ma" style="display: inline">0</div></font></b>)</li>
				<li>Vitamins &amp; minerals (<b><font color="red"><div id="vi" style="display: inline">0</div></font></b>)</li>
				<li>Therapy (<b><font color="red"><div id="th" style="display: inline">0</div></font></b>)</li>
				<li>Food &amp; Drinks (<b><font color="red"><div id="fo" style="display: inline">2</div></font></b>)</li>
			</ul>

	</div>


	<div id="text-page5-4">
		<h2>Buttons most used</h2>

	<h3>Symptoms</h3>
		<ul>
			<li><div id="sy_0_0" style="display: inline">cluster-headache</div> (<b><font color="red"><div id="sy_1_0" style="display: inline">2</div></font></b>)</li>
			<li><div id="sy_0_1" style="display: inline">absence</div> (<b><font color="red"><div id="sy_1_1" style="display: inline">0</div></font></b>)</li>
			<li><div id="sy_0_2" style="display: inline">tinnitus</div>  (<b><font color="red"><div id="sy_1_2" style="display: inline">0</div></font></b>)</li>
		</ul>

	<h3>Medicine</h3>
		<ul>
			<li><div id="me_0_0" style="display: inline">5-meo-dalt</div> (<b><font color="red"><div id="me_1_0" style="display: inline">0</div></font></b>)</li>
			<li><div id="me_0_1" style="display: inline">sumatriptan-nose-spray</div> (<b><font color="red"><div id="me_1_1" style="display: inline">0</div></font></b>)</li>
			<li><div id="me_0_2" style="display: inline">amitriptyline</div>  (<b><font color="red"><div id="me_1_2" style="display: inline">0</div></font></b>)</li>
		</ul>

	<h3>Alternative Medicine</h3>
		<ul>
			<li><div id="ma_0_0" style="display: inline">cbd-oil</div> (<b><font color="red"><div id="ma_1_0" style="display: inline">0</div></font></b>)</li>
			<li><div id="ma_0_1" style="display: inline">cbd-thc-oil</div> (<b><font color="red"><div id="ma_1_1" style="display: inline">0</div></font></b>)</li>
			<li><div id="ma_0_2" style="display: inline">pepermint-oil</div>  (<b><font color="red"><div id="ma_1_2" style="display: inline">0</div></font></b>)</li>
		</ul>

	<h3>Vitamins &amp; minerals</h3>
		<ul>
			<li><div id="vi_0_0" style="display: inline">5-HTP </div> (<b><font color="red"><div id="vi_1_0" style="display: inline">0</div></font></b>)</li>
			<li><div id="vi_0_1" style="display: inline">folic-acid</div> (<b><font color="red"><div id="vi_1_1" style="display: inline">0</div></font></b>)</li>
			<li><div id="vi_0_2" style="display: inline">baking-soda-sodium-bicarbonate</div>  (<b><font color="red"><div id="vi_1_2" style="display: inline">0</div></font></b>)</li>
		</ul>
	
	</div>

	<div id="text-page5-5">
		<h2>Wrong or missing data</h2>
			<p>every other time we can forget to add the duration of attacks or dose of treatment. We try to give a resume about the "wrong collected", or missing data. </p>
			<p style="display: inline">We saw that this month you have </p><div class="text_red" id="Wrong_Symptomes_month" style="display: inline">0</div>% of missing or wrong data. On all your data together we see <b><font color="red"><div id="Wrong_Symptomes_ever" style="display: inline">0.0</div>%</font></b> are wrong or partial.<p></p>
			<p>Result of missing data in this report, could be that one registration is used to display in one graph, but not on another. Like if you do collect the intensity of attacks but you didn't keep track of durations. Then the attacks will be on your timeline, but it will not be used to calculate averages about durations. </p>
			<p>So make sure you collect intensity AND Duration in Symptoms and make sure you set a dose when making registration.</p>
			<p><i><strong>This function is in development and is not 100% accurate yet. We will work to improve this</strong></i></p>
	</div>

	<b><font color="red"></font></b>
	
	<div id="hr-4-1">
		<hr/>
	</div>
	
	<div id="report-version-info">
		<strong>Cluster Headache Report</strong> | Report version: 1.1  |  Date: Juli 2019  |  
    </div>

	</div>

	<b><font color="red"><b>


</b></font></b></body></html>