body {
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color: #666;
}

/*see all divs with red outline*/
div {
	  border: 0px solid red;
	  
}

div#main-A4 {
	  border: 0px solid gray;
}


#main-A4 {
	position:relative;
	top:0;
	left:0;
	height:24.5cm;
	width:35.5cm;
}

#data-number {
	color:#C00;
}

hr {
	border: dotted 1px #666;
}

#logo-block {
	position:absolute;
	background-color:#bfc0c4;
	top:0;
	right:0cm;
	width:250px;
	margin:0px 0px;
	padding:20px 20px 0px 30px;
	color:white;
}

#logo-block-close {
	position:absolute;
	background-color:#bfc0c4;
	top:0;
	right:1cm;
	width:250px;
	margin:0px 0px;
	padding:20px 20px 0px 30px;
	color:white;
}

#report-version-info {
	position:absolute;
	font-size:75%;
	top: 900px;
	left:80px;
}

/*---------------------------------- 1 introduction ----------------------*/

#info-ubiqum-nobism {
	position:absolute;
	background-color:#bfc0c4;
	top:15px;
	left:1042px;
	width:250px;
	height:24cm;
	margin:-20px 0px;
	padding:30px 20px 0px 30px;
	color:#4b4b4d;
}


#text-page1-1 {
	position: absolute;
	top:250px;
	left:250px;
	width:450px;
}

#text-page1-2 {
	position:absolute;
	top:200px;
	left: 250px;
}

.marginRight {
	margin-right: 5px;
}

/*---------------------------------- 2 TIMELINE ----------------------*/

#timeline-ch {
	position: absolute;
	top: 120px;
	left: 80px;
}

#timeline-ch img {	
	width:1000px;
	height:250px;
}

#text-page2-1 {
	position:absolute;
	top:40px;
	left: 80px;
}

#text-page2-2 {
	position: absolute;
	top: 390px;
	left:90px;
	width: 300px;
}

#text-page2-3 {
	position: absolute;
	top: 400px;
	left:480px;
	width: 220px;
}

#text-page2-4 {
	position: absolute;
	top: 510px;
	left:480px;
	width: 220px;
}

#text-page2-5 {
	position: absolute;
	top: 620px;
	left:480px;
	width: 220px;
}

#avarage_duration-day {
	position:absolute;
	top: 400px;
	left:600px;
}


#number_attacks-day {
	position:absolute;
	top:620px;
	left:600px;
}

#average_intensity-day {
	position:absolute;
	top:510px;
	left: 600px;
}

#number_attacks-day img,
#avarage_duration-day img,
#average_intensity-day img {
	width: 475px;
	height: 90px;
}
/*---------------------------------- 3 RESUME ----------------------*/



#text-page3-1 {
	position:absolute;
	top:30px;
	left: 80px;
}

#text-page3-2 {
	position:absolute;
	top:95px;
	left: 80px;
	width:310px;
}

#text-page3-3 {
	position:absolute;
	top:95px;
	left: 460px;
	width:310px;
}

#text-page3-4 {
	position:absolute;
	top:225px;
	left: 80px;
	width:250px;
}

#text-page3-5 {
	position:absolute;
	top:225px;
	left: 650px;
	width:250px;
}

#text-page3-6 {
	position:absolute;
	top:365px;
	left:320px;
	width:560px;
	text-align:center;
}

#text-page3-7 {
	position:absolute;
	top:530px;
	left:320px;
	width:560px;
	text-align:center;
}

#text-page3-8 {
	position:absolute;
	top:700px;
	left:320px;
	width:560px;
	text-align:center;
}
	

#hr-3-1 {
	 position:absolute; 
	 top:90px; 
	 left:80px; 
	 width: 680px;
}

#hr-3-2 {
	 position:absolute; 
	 top:260px; 
	 left:80px; 
	 width: 425px;
}

#hr-3-3 {
	 position:absolute; 
	 top:260px; 
	 left:650px; 
	 width: 425px;
}

#amount_CH-Duration_alltime {
	position:absolute;
	top: 280px;
	left:650px;
}

#amount_CH-intensity_CH-alltime {
	position:absolute;
	top: 457px;
	left:650px;
}


#amountAttacks-hoursDay_alltime {
	position:absolute;
	top: 626px;
	left:650px;
}


#amount_CH-intensity_CH-alltime img,
#amount_CH-intensity_CH-month img,
#amount_CH-Duration_alltime img,
#amount_CH-Duration_month img,
#amountAttacks-hoursDay_month img,
#amountAttacks-hoursDay_alltime img {
	width: 425px;
}



#amount_CH-Duration_month {
	position:absolute;
	top: 280px;
	left:80px;
}

#amount_CH-intensity_CH-month {
	position:absolute;
	top: 457px;
	left:80px;
}



#amountAttacks-hoursDay_month {
	position:absolute;
	top: 626px;
	left:80px;
}



/*---------------------------------- 4 MEDICINE ----------------------*/



#text-page4-1 {
	position:absolute;
	top:30px;
	left: 80px;
}

#text-page4-2 {
	position:absolute;
	top:95px;
	left: 80px;
	width:310px;
}

#text-page4-3 {
	position:absolute;
	top:95px;
	left: 460px;
	width:310px;
}
	

#hr-4-1 {
	position:relative; 
	float:right; 
	margin:240px 20px 0px 0px;
}

#medicine_intake {
	position:absolute;
	top:500px;
	left:80px;
}

#medicine_intake img {
	width:1000px;
	height:220px;
}

#treatments_month {
	position:absolute;
	top:450px;
	left:80px;
}

#treatments_alltime {
	position:absolute;
	top:650px;
	left:300px;
}

#timeline-ch-4 {
	position:absolute;
	top:240px;
	left:180px;
}

#timeline-ch-4 img {	
	width:900px;
	height:200px;
}



/*---------------------------------- 5 EXTRA INFORMATION ----------------------*/



#text-page5-1 {
	position:absolute;
	top:30px;
	left: 80px;
}

#text-page5-2 {
	position:absolute;
	top:95px;
	left: 80px;
	width:310px;
}

#text-page5-3 {
	position:absolute;
	top:95px;
	left: 460px;
	width:310px;
}

#text-page5-4 {
	position:absolute;
	top:240px;
	left:460px;
	width:310px;
}

#text-page5-5 {
	position:absolute;
	top:89px;
	left: 787px;
	width:295px;
}

#text-page5-6 {
	position:absolute;
	top:240px;
	left: 80px;
	width:310px;
}

#text-page5-7 {
	position:absolute;
	top:380px;
	left: 80px;
	width:310px;
}

/*--------------------------------- for printing -----------------------*/

@media print {
  .new-page {
    page-break-before: always;
  }  
}



.text_red{
	color: red;
	font-weight: bold;
}